<section class="mt-5 pt-5">
    <form fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="10px" #f="ngForm" (ngSubmit)="loginuser(f)">
       <mat-form-field>
        <mat-label>ایمیل خود را وارد کنید</mat-label>

        <input type="email" matInput email required ngModel name="email" #emailinput>
        <mat-error>ایمیل نامعتبر است</mat-error>
       </mat-form-field>

        <mat-form-field >
            <mat-label>رمز عبور </mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" required ngModel name="password"
            minlength="8"
            
            #pass="ngModel"
            />
            <a
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>
        <mat-error class="text-danger" [hidden]="!pass.touched && pass.valid ">رمز عبور حداقل باید 8 کاراکتر داشته باشد!!!</mat-error>
        <mat-hint align="end">{{pass.value.length}}/8</mat-hint>
          </mat-form-field>
          
                 
          <button mat-raised-button  type="submit"  [disabled]="f.invalid">ثبت</button>
    </form>
</section>

