<div class="new-trining" >
    <section fxLayout fxLayoutAlign="center">
       <form #f="ngForm" (ngSubmit)="onstarttrining(f)">
        <mat-card fxFlex="400px" fxFlex.xs="100%">
            <mat-card-header fxLayoutAlign="center">
                <mat-card-title>وقتشه که شروع کنی... </mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayoutAlign="center"> <mat-form-field>
                <mat-label>تمرین مورد نظر</mat-label>
                <mat-select ngModel name="name" required>
                  
                    <mat-option *ngFor="let item of Exercises " [value]="item.id">{{item.name}}</mat-option>
                   
                  
                </mat-select>
              </mat-form-field> </mat-card-content>
            <mat-card-actions fxLayoutAlign="center"> 
                <button type="submit"  mat-flat-button [disabled]="f.invalid">شروع </button>
            </mat-card-actions>
            </mat-card>
       </form>
        
        
        </section>
</div>
