<!-- <section class="current-trining" fxLayout="column" fxLayoutAlign="center center ">
  <h3 class="text-info">نام تمرین :{{runtraining.name}}</h3>
  <p class="text-danger">مدت زمان :{{runtraining.duration}}</p>
  <p class="text-warning">مدت زمان :{{runtraining.calories}}</p>


</section>

<hr> -->
<section class="current-trining" fxLayout="column" fxLayoutAlign="center center ">
<mat-progress-spinner [value]="progress"></mat-progress-spinner>
<h3>{{progress}} : %</h3>
<p>تو میتونی ادامه بده</p>
<button mat-raised-button color="accent" (click)="onstop()"> توقف</button>
</section>
