<div fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" >

<section class="section1 p-3 " ><h2>فعالیت</h2> 
    <p>“بهترین وقت برای شروع همیشه الان است، بدون مدت زمان.” “ورزش به شما نشان می‌دهد که توانایی پشتکار و تحمل را دارید.” “تمرین به شما نشان می‌دهد که هر روز می‌توانید از خودتان بهتر باشید.”</p></section>
<section class="section2 p-3 "><h2>اشتراک گذاری</h2>
<p> فعالیت های ورزشی موفقیت آمیز خود را با دوستانتان به اشتراک بگذارید تا محرک آنها به سوی موفقیت باشید</p>
</section>
<section class="section3 p-3"><h2>چالش</h2>
<p>مهارت ها و توانایی های خودتان را با انجام چالش های هیجان انگیز  ارزیابی کنید</p></section>

</div>
